@import '../../styles/mixins.scss';

.ranking-item {
  transition: background-color 0.15s ease;
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;

  &:hover {
    transition: background-color 0.15s ease;
    background-color: #1C1A27;
  }

  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #848294;
    line-height: 18px;

    &:first-child {
      font-size: 24px;
      width: 30px;
    }
    &:nth-child(2) {
      max-width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    @include btn-ghost;
    color: #848294;
    border-color: #848294;
    width: 100px;
    height: 34px;
  }
}

@media screen and (max-width: 1620px) {
  .ranking-item {

    span {
      font-size: 13px;
      line-height: 14px;

      &:first-child {
        font-size: 16px;
      }
    }

    button {
      @include btn-ghost;
      color: #848294;
      border-color: #848294;
      width: 100px;
      height: 34px;
    }
  }
}
