.customMonacoEditor {
  height: 100%;
}

.wrapper-main {
  .right-container {
    min-width: 600px;
  }
}

.textarea-code {
  background: #171520;
  color: #ddd;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
}

